# This is a basic workflow to help you get started with Actions

name: auto deploy hexo to gitee page

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the source branch
  push:
    branches: [ source ]
  pull_request:
    branches: [ source ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Sync to Gitee
        uses: wearerequired/git-mirror-action@master
        env:
        # 注意在 Settings->Secrets 配置 GITEE_RSA_PRIVATE_KEY
          SSH_PRIVATE_KEY: ${{ secrets.GITEE_RSA_PRIVATE_KEY }}
        with:
          # 注意替换为你的 GitHub 源仓库地址
          source-repo: "https://github.com/walk143/blog.git"
          # 注意替换为你的 Gitee 目标仓库地址
          destination-repo: "git@gitee.com:sloera/sloera.git"
      - name: deploy hexo to gitee page
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
        uses: yanglbme/gitee-pages-action@master
        with:
          # 注意替换为你的 Gitee 用户名
          gitee-username: sloera
          # 注意在 Settings->Secrets 配置 GITEE_PASSWORD
          gitee-password: ${{ secrets.GITEE_PASSWORD }}
          # 注意替换为你的 Gitee 仓库
          gitee-repo: sloera/sloera
